<%- include('../partials/header') %> 
  <div class="container">
    <h1 class="text-center mb-5">Applied for <%= dataJob.title  %> at <%= dataJob['Department.departmentName'] %></h1>
  
    <form action="/hiring/<%= dataJob.id  %>/apply" method="POST">
      <label class="form-label">Fullname</label><br>
      <input class="form-control" type="text" name="fullName"><br><br>
  
      <label class="form-label">Email address</label><br>
      <input class="form-control" type="text" name="email"><br><br>
  
      <label class="form-label">Phone Number</label><br>
      <input class="form-control" type="text" name="phone"><br><br>
  
      <label class="form-check-label">Gender</label><br>
      <input class="form-check-input" type="radio" name="gender" value="male"> Male<br>
      <input class="form-check-input" type="radio" name="gender" value="female"> Female
  
      <br><br>
      <input type="submit" value="Save" class="btn btn-primary">
      <a href="/hiring/<%= dataJob.id  %>/detail" class="btn btn-danger">Cancel</a>
    
    </form>
  </div>
<%- include('../partials/footer') %> 
<%# console.log(dataJob) %> 