<%- include('../partials/header') %> 

  <div class="container mt-5">
    <h2 class="text-center mb-5">Form Edit Job</h2>
  
    <form action="/jobs/<%= data.job.id %>/edit" method="POST">
      <label class="form-label">Title</label><br>
      <input class="form-control" type="text" name="title" value="<%= data.job.title  %>"><br><br>
  
      <label class="form-label">Department</label><br>
      <select class="form-select" name="DepartmentId">
        <% data.deparments.forEach(dpt => { %>
          <option value="<%= dpt.id %>" <%= data.job.DepartmentId === dpt.id ? "selected" : "" %> ><%= dpt.departmentName %></option>
        <% }) %> 
      </select><br><br>
  
      <label class="form-label">Requirement</label><br>
      <textarea class="form-control" name="requirement"><%= data.job.requirement %></textarea><br><br>
  
      <label class="form-label">Vacancy</label><br>
      <input class="form-control" type="number" name="vacancy" value="<%= data.job.vacancy  %>"><br><br>
  
      <input class="btn btn-primary" type="submit" value="Update">
      <a href="/jobs/<%= data.job.id  %>/detail" class="btn btn-danger">Cancel</a>
    </form>
  </div>
<%- include('../partials/footer') %> 
<%# console.log(data) %> 