<%- include('../partials/header') %> 
  <h1 class="text-center mb-5 mt-3">HackPortal Management List Job Vacancy</h1>

  <div class="container">
    <a href="/jobs/add" class="btn btn-primary">Add Job</a><br><br>
  
      <table border="2"  class="table">
        <tr>
          <th>Title</th>
          <th>Department</th>
          <th>Vacancy</th>
          <th>Posted On</th>
          <th>Action</th>
        </tr>
        <% dataJobs.forEach(job => { %>
          <tr>
            <td><%= job.title %></td>
            <td><%= job['Department.departmentName'] %></td>
            <td><%= job.vacancy %></td>
            <td><%= formatDate(job.createdAt) %></td>
            <td><a href="/jobs/<%= job.id %>/detail" class="btn btn-secondary">Detail</a></td>
          </tr>
        <% }) %> 
      </table><br>
  </div>

<%- include('../partials/footer') %> 
<%# console.log(dataJobs[0]['Department.departmentName']) %> 